html {
  scroll-behavior: smooth;
}
.p-10 {
  padding: 10rem;
}
.section-title,
.logo-title {
  font-family: "Patua One", cursive;
}
.section-title {
  font-size: 1.1rem;
  margin-bottom: 8rem;
}
.section-title::after {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  margin-left: -50px;
  background: rgba(51, 51, 51, 0.7);
}
.section-separator::after {
  content: "";
  height: 1px;
  width: 50px;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  margin-left: -50px;
  background: rgba(51, 51, 51, 0.2);
}
.bg-carousel {
  background-color: rgb(220, 228, 231);
}
.decoration-off {
  text-decoration: none;
  color: white;
}
.decoration-off:hover {
  color: white;
}

.articulo {
  word-wrap: break-word;
}
.author {
  font-size: 0.8rem;
  font-family: "Secular One", sans-serif;
}
.article-title {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
.article-hero-title {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  font-size: 6.4rem !important;
}
.article-hero-button {
  font-size: 0.8rem;
  padding: 0 2px;
  transition: all 0.1s ease-in-out;
  min-width: 8rem;
  min-height: 2rem;
}
.article-hero-button:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  transform: translateY(-2px);
}
.article-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.article-link:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  transform: translateY(-2px);
  color: black;
}
.article-content {
  font-size: 1.2rem;
  line-height: 1.88;
  font-weight: 400;
  color: #444;
}
.article-button {
  transition: 0.3s;
  transition: all 0.1s ease-in-out;
}
.article-button:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  transform: translateY(-2px);
}
.carousel-indicators {
  position: relative;
  margin-top: calc(40vh - 25%);
}
.hero {
  min-height: 100vh;
}
.hero-height {
  transition: height 0.5s ease-in-out;
}
.carousel {
  padding-top: calc(60vh - 35vh);
  width: 100%;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 10rem;
  color: black;
  transition: opacity 0.3s;
  opacity: 0;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  opacity: 1;
}
.fake-bg {
  position: relative;
  z-index: 9000;
  background: #f8f8f8 !important;
}
.page-container {
  background: #fff;
  -webkit-box-shadow: 0 30px 50px 0 rgb(1 1 1 / 15%);
  box-shadow: 0 30px 50px rgb(1 1 1 / 15%);
  max-width: 1170px;
  margin: 0 auto 10rem;
  width: 95%;
  padding: 7rem 0 7rem;
}
.page-header {
  margin-top: -4rem;
}
.fake-bg .page-container:first-child {
  top: -99px;
  position: relative;
  z-index: 9000;
  margin-bottom: 0;
}
.btn-mente {
  color: #fff;
  background-color: rgb(220, 228, 231);
}
.btn-mente:hover {
  color: #fff;
  background-color: rgb(156, 181, 189);
}
.bg-footer {
  background: #f8f8f8;
  padding: 0;
}
.waldry {
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.waldry:hover {
  background-image: linear-gradient(135deg, rgb(4, 97, 61), rgb(6, 131, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-font {
  font-size: 1rem;
}
.footer-title {
  line-height: 1.2;
}
/* -----------------Responsive----------------- */

/* Todos los telefonos incluyendo ipads */
@media (max-width: 768px) {
  .article-hero-title {
    font-size: 2.7rem !important;
  }
}
/* Todos los dispositvos desde telefonos hasta justo antes del ipad */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
/* Entre Ipad a pc de pantalla mediana */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .carousel-indicators {
    margin-top: calc(40vh - 25%);
  }
  .article-hero-title {
    font-size: 6.7rem !important;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 8rem;
  }
}
/* Pantallas grandes */
@media only screen and (min-width: 900px) {
  .carousel-indicators {
    margin-top: calc(65vh - 30%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1278px) {
}
